.hidden
{
	display: none;
}

body
{
	font-family: Arial;
	font-size: 25px;
	text-align: center;
}

#container
{
	width: 1920px;
	margin: 0 auto;
	margin-top: 33px;
}

.mainHeader, .welcome, .promoImage, .photos, .learn
{
	display: flex;
	
}

.nav
{
	height: 119px;
	width: 895px;
	background-color: #4a4a4a;
	margin-right: 56px;
	margin-left: auto;
}

.logo
{
	width: 365px;
	height: 123px;
	background-color: #4a4a4a;
	margin-left: 56px;
}

.welcome
{
	width: 1807px;
	height: 189px;
	background-color: #4a4a4a;
	margin-left: auto;
	margin-right: auto;
	margin-top: 36px;
}

.promoImage
{
	width: 1807px;
	height: 189px;
	background-color: #4a4a4a;
	margin-top: 65px;
	margin-left: auto;
	margin-right: auto;
}

.photo1
{
	width: 261px;
	height: 261px;
	background-color: #4a4a4a;
	margin-left: auto;
	margin-right: auto;
	margin-top: 38px
}

.photo2
{
	width: 261px;
	height: 261px;
	background-color: #4a4a4a;
	margin-left: auto;
	margin-right: auto;
	margin-top: 38px;
}

.mainFooter
{
	width: 1920px;
	height: 77px;
	background-color: #4a4a4a;
	margin-top: 70px;
}

@media screen and (min-width: 650px) {

	.nav
	{
		height: 119px;
		width: 895px;
	}

	.logo
	{
		width: 365px;
		height: 123px;
	}

	.welcome
	{
		width: 1807px;
		height: 189px;
	}

	.promoImage
	{
		width: 1807px;
		height: 189px;
	}

	.photo1
	{
		width: 261px;
		height: 261px;
	}

	.photo2
	{
		width: 261px;
		height: 261px;
	}

	.mainFooter
	{
		width: 1920px;
		height: 77px;
	}


}